@model ProductCRUD.CLIENT.DTOs.AddProductDTO

@{
    ViewData["Title"] = "Add";
}
@functions {
    public List<SelectListItem> GetAvailabilityOptions()
    {
        var options = new List<SelectListItem>
        {
            new SelectListItem { Text = "Yes", Value = "true" },
            new SelectListItem { Text = "No", Value = "false" }
        };

        return options;
    }
}


<h1>Add Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.message != null)
        {
            <h4>ViewBag.message</h4>
        }


        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isAvailable" class="control-label"></label>
                <select asp-for="isAvailable" asp-items="@GetAvailabilityOptions()" class="form-control"></select>
                <span asp-validation-for="isAvailable" class="text-danger"></span>
            </div>


            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
